.precio {
    color: red($color: #000000);
    margin-top: 3.75rem;
    margin-left: .3125rem;
}

.tarifa {
    margin-top: 1.875rem;
    border-top: 2px solid gray;
    margin-left: .3125rem;
    margin-right: .3125rem;
}

.pie {
    margin: .9375rem;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: .8125rem;
    color: $color-letra;

    p {
        color: $color-letra;
    }
}

main {
    section {
        background-image: url(/assets/img/sabemosdeturismo.png);
        display: flex;
        align-items: left;
        justify-content: center;
        /* margin: .625rem; */
        height: 25rem;
        flex-direction: column;

        h2 {
            font-family: 'Times New Roman', Times, serif;
            margin-left: .9375rem;
            font-weight: bold;
            font-style: oblique;
        }

        p {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin-left: .625rem;
        }
    }
}

body{
    div{
        h2{
            color: $color-letra;
            text-align: center;
            margin: .9375rem;
            padding-bottom: .9375rem;
            border-bottom: 2px solid gray;
            font-family: 'Times New Roman', Times, serif;
            
            font-weight: bold;
            font-style: oblique;
        }
    }
}

.formulario{
    padding: 1.25rem;
    width: 60%;
}