.precio{
    color: red($color: #000000);
    margin-top: 3.75rem;
    margin-left: .3125rem;
}
.tarifa{
    margin-top: 1.875rem;
    border-top: 2px solid gray;
    margin-left: .3125rem;
    margin-right: .3125rem;
}
.pie{
    margin: .9375rem;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: .8125rem;
    color: $color-letra;
    p{
        color: $color-letra;
    }
}
main{
    section{
        background-image: url(/assets/img/sabemosdeturismo.png);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: .625rem;
        height: 25rem;
        flex-direction: column;
        
    }
}
